:root {
  --light-color: #ffffff;
  --dark-color: #000000;

  --category-modal-text-color: #8c8c8c;
  --eror-text-color: #ff001b;
  --accent-color: #ff6b01;

  --footer-text-color: #545454;
  --footer-bgc-color: #f7f7f7;

  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
