<article class="example" id="uk">

  <div class="hi">
    <p>Вітаю!</p>
    <p>Зробив деякі налаштування:</p>
    <ul>
      <li>1.Підключив шрифт Roboto:wght@400;500</li>
      <li>2. Додав favicon</li>
      <li>3. Додав у папку images фонові зображення хедера</li>
      <li>4.Додав у папку images sprite.svg :
        <ul class="sprite">
          <li>href="./images/sprite.svg#icon-film</li>
          <li>...#icon-search</li>
          <li>...#icon-heart"></li>
          <li>...icon-close</li>
          <li>...icon-arrow-right</li>
          <li>...icon-arrow-left</li>
        </ul>
      </li>
      <li>5. Додав початкові стилі: normalize, common - скидання деяких дефолтних стилів, адаптивний container, базові
        стилі кнопок, root - змінні, .visually-hidden</li>
    </ul>
  </div>

  <h1>HTML-partials</h1>

  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
  <img src="images/logo.png" alt="" width="320" />

  <p>
    The
    <a href="https://github.com/posthtml/posthtml-include" target="_blank" rel="noopener noreferrer">
      posthtml-include
    </a>
    plugin allows you to add code from other HTML files (fragments) to HTML page
    files. Fragments are stored in the <code>src/partials</code> folder. The
    addition occurs when compiling page files, such as <code>index.html</code>.
  </p>

  <p>
    This <code>example.html</code> file is an example of such a snippet, with
    the markup of a certain part of the main page. This is very convenient for
    team development on student projects, when several people write in one HTML
    file at once.
  </p>

  <p>
    The syntax for adding a fragment to the main file is:
    <code> &lt;include src="./partials/filename.html"&gt;&lt;/include&gt;</code>
  </p>

  <div class="background"></div>
</article>