<article class="example" id="uk">

  <div class="hi">
    <p>Вітаю!</p>
    <p>Зробив деякі налаштування:</p>
    <ul>
      <li>1.Підключив шрифт Roboto:wght@400;500</li>
      <li>2. Додав favicon</li>
      <li>3. Додав у папку images фонові зображення хедера</li>
      <li>4.Додав у папку images sprite.svg :
        <ul class="sprite">
          <li>href="./images/sprite.svg#icon-film</li>
          <li>...#icon-search</li>
          <li>...#icon-heart"></li>
          <li>...icon-close</li>
          <li>...icon-arrow-right</li>
          <li>...icon-arrow-left</li>
        </ul>
      </li>
      <li>5. Додав початкові стилі: normalize, common - скидання деяких дефолтних стилів, адаптивний container, базові
        стилі кнопок (стилі ховеру можна використати для активної кнопки), root - змінні, .visually-hidden</li>
      <li>6. Додав базові файли JS: refs - посилання на DOM-елементи, base-config - API-ключ і BASE_URL</li>
      <li>7. Додав хедер (хедер динамічно перемальовується, тому під його логіку можна привязати рендеренг головної
        галереї та рендеринг бібліотеки) </li>
      <li>8. Додав футер(в футері ще потрібно зробити модалку "команда")</li>
    </ul>
  </div>

  <!-- <h1>HTML-partials</h1> -->

  <!-- <div class="background"></div> -->
</article>