<footer class="footer">
  <div class="container footer__wrap">
    <p class="footer__text">&#169; 2023 | All Rights Reserved |&nbsp</p>

    <p class="footer__text">
      Developed with &nbsp
      <svg class="footer__icon">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      &nbsp by
    </p>
    <button type="button" class="btn footer__btn" data-team-modal-open>
      GoIT Students
    </button>
  </div>
</footer>

<!-- backdrop-modal -->
<div class="team-modal__backdrop is-hidden" data-team-modal>
  <div class="team-modal">
    <button class="team-modal__close-btn" data-team-modal-close>
      <svg
        lang="en"
        aria-label="close icon"
        class="team-modal__icon"
        width="20"
        height="20"
      >
        <use
          class="team-modal__icon_color"
          href="./images/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>

    <div class="team-modal__gallery">
      <h2 class="team-modal__title">Our team</h2>
      <ul class="team-modal__list list">
        <!-- Novychenko -->
        <li class="team-modal__item">
          <div class="team-modal__img-wrap">
            <img
              src="./images/photo/novychenko.jpg"
              alt="фото розробника"
              class="team-modal__img"
            />
          </div>

          <div class="team-modal__inner">
            <h3 class="team-modal__name">Oleksandr Novychenko</h3>
            <p class="team-modal__text">Team Lead</p>
          </div>

          <ul class="social-networks list">
            <li class="social-networks__item">
              <a
                href="https://github.com/A-Novychenko"
                class="social-networks__link"
                target="_blank"
              >
                <svg
                  aria-label="github icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-github"
                  ></use>
                </svg>
              </a>
            </li>

            <li class="social-networks__item">
              <a
                href="https://www.linkedin.com/in/oleksandr-novychenko/"
                class="social-networks__link"
                target="_blank"
              >
                <svg
                  aria-label="linkedin icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <!-- /Novychenko -->

        <!-- Obibok -->
        <li class="team-modal__item">
          <div class="team-modal__img-wrap">
            <img
              src="./images/photo/obibok.jpg"
              alt="фото розробника"
              class="team-modal__img"
            />
          </div>

          <div class="team-modal__inner">
            <h3 class="team-modal__name">Andrey Obibok</h3>
            <p class="team-modal__text">Scrum Master</p>
          </div>

          <ul class="social-networks list">
            <li class="social-networks__item">
              <a
                href="https://github.com/andreyobibok"
                class="social-networks__link"
                target="_blank"
              >
                <svg
                  aria-label="github icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-github"
                  ></use>
                </svg>
              </a>
            </li>

            <li class="social-networks__item">
              <a href="" class="social-networks__link" target="_blank">
                <svg
                  aria-label="linkedin icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <!-- /Obibok -->

        <!-- Druzhynin -->
        <li class="team-modal__item">
          <div class="team-modal__img-wrap">
            <img
              src="./images/photo/druzhynin.jpg"
              alt="фото розробника"
              class="team-modal__img"
            />
          </div>

          <div class="team-modal__inner">
            <h3 class="team-modal__name">Oleksandr Druzhynin</h3>
            <p class="team-modal__text">Developer</p>
          </div>

          <ul class="social-networks list">
            <li class="social-networks__item">
              <a href="" class="social-networks__link" target="_blank">
                <svg
                  aria-label="github icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-github"
                  ></use>
                </svg>
              </a>
            </li>

            <li class="social-networks__item">
              <a href="" class="social-networks__link" target="_blank">
                <svg
                  aria-label="linkedin icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <!-- /Druzhynin -->

        <!-- Topolna -->
        <li class="team-modal__item">
          <div class="team-modal__img-wrap">
            <img
              src="./images/photo/topolna.jpg"
              alt="фото розробника"
              class="team-modal__img"
            />
          </div>

          <div class="team-modal__inner">
            <h3 class="team-modal__name">Iryna Topolna</h3>
            <p class="team-modal__text">Developer</p>
          </div>

          <ul class="social-networks list">
            <li class="social-networks__item">
              <a
                href="https://github.com/IrynaTopolna"
                class="social-networks__link"
                target="_blank"
              >
                <svg
                  aria-label="github icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-github"
                  ></use>
                </svg>
              </a>
            </li>

            <li class="social-networks__item">
              <a href="" class="social-networks__link" target="_blank">
                <svg
                  aria-label="linkedin icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <!-- /Topolna -->

        <!-- Kharlan -->
        <li class="team-modal__item">
          <div class="team-modal__img-wrap">
            <img
              src="./images/photo/kharlan.jpg"
              alt="фото розробника"
              class="team-modal__img"
            />
          </div>

          <div class="team-modal__inner">
            <h3 class="team-modal__name">Eduard Kharlan</h3>
            <p class="team-modal__text">Developer</p>
          </div>

          <ul class="social-networks list">
            <li class="social-networks__item">
              <a href="" class="social-networks__link" target="_blank">
                <svg
                  aria-label="github icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-github"
                  ></use>
                </svg>
              </a>
            </li>

            <li class="social-networks__item">
              <a href="" class="social-networks__link" target="_blank">
                <svg
                  aria-label="linkedin icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <!-- /Kharlan -->

        <!-- Babenko -->
        <li class="team-modal__item">
          <div class="team-modal__img-wrap">
            <img
              src="./images/photo/babenko.jpg"
              alt="фото розробника"
              class="team-modal__img"
            />
          </div>

          <div class="team-modal__inner">
            <h3 class="team-modal__name">Vita Babenko</h3>
            <p class="team-modal__text">Developer</p>
          </div>

          <ul class="social-networks list">
            <li class="social-networks__item">
              <a
                href="https://github.com/VitaBabenko"
                class="social-networks__link"
                target="_blank"
              >
                <svg
                  aria-label="github icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-github"
                  ></use>
                </svg>
              </a>
            </li>

            <li class="social-networks__item">
              <a
                href="https://www.linkedin.com/in/vitababenko/"
                class="social-networks__link"
                target="_blank"
              >
                <svg
                  aria-label="linkedin icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <!-- /Babenko -->

        <!-- Vitaliyi Slyvchuk -->
        <li class="team-modal__item">
          <div class="team-modal__img-wrap">
            <img
              src="./images/photo/slyvchuk.jpg"
              alt="фото розробника"
              class="team-modal__img"
            />
          </div>

          <div class="team-modal__inner">
            <h3 class="team-modal__name">Vitaliyi Slyvchuk</h3>
            <p class="team-modal__text">Developer</p>
          </div>

          <ul class="social-networks list">
            <li class="social-networks__item">
              <a
                href="https://github.com/VitaliySlivchuk"
                class="social-networks__link"
                target="_blank"
              >
                <svg
                  aria-label="github icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-github"
                  ></use>
                </svg>
              </a>
            </li>

            <li class="social-networks__item">
              <a
                href="https://www.linkedin.com/in/vitaliy-slivchuk-b748a9168/"
                class="social-networks__link"
                target="_blank"
              >
                <svg
                  aria-label="linkedin icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <!-- /Vitaliyi Slyvchuk -->

        <!-- Olexandr Veryk -->
        <li class="team-modal__item">
          <div class="team-modal__img-wrap">
            <img
              src="./images/photo/veryk.jpg"
              alt="фото розробника"
              class="team-modal__img"
            />
          </div>

          <div class="team-modal__inner">
            <h3 class="team-modal__name">Olexandr Veryk</h3>
            <p class="team-modal__text">Developer</p>
          </div>

          <ul class="social-networks list">
            <li class="social-networks__item">
              <a
                href="https://github.com/alexveryk"
                class="social-networks__link"
                target="_blank"
              >
                <svg
                  aria-label="github icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-github"
                  ></use>
                </svg>
              </a>
            </li>

            <li class="social-networks__item">
              <a
                href="https://www.linkedin.com/in/olexandr-veryk-a58259132"
                class="social-networks__link"
                target="_blank"
              >
                <svg
                  aria-label="linkedin icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <!-- /Olexandr Veryk -->

        <!-- Roman Kozhemyakin -->
        <li class="team-modal__item">
          <div class="team-modal__img-wrap">
            <img
              src="./images/photo/roman.jpg"
              alt="фото розробника"
              class="team-modal__img"
            />
          </div>

          <div class="team-modal__inner">
            <h3 class="team-modal__name">Roman Kozhemyakin</h3>
            <p class="team-modal__text">Developer</p>
          </div>

          <ul class="social-networks list">
            <li class="social-networks__item">
              <a href="" class="social-networks__link" target="_blank">
                <svg
                  aria-label="github icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-github"
                  ></use>
                </svg>
              </a>
            </li>

            <li class="social-networks__item">
              <a href="" class="social-networks__link" target="_blank">
                <svg
                  aria-label="linkedin icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <!-- Roman Kozhemyakin -->

        <!-- Dmitriy Tsyhanenko -->
        <li class="team-modal__item">
          <div class="team-modal__img-wrap">
            <img
              src="./images/photo/tsyhanenko.jpg"
              alt="фото розробника"
              class="team-modal__img"
            />
          </div>

          <div class="team-modal__inner">
            <h3 class="team-modal__name">Dmytro Tsyhanenko</h3>
            <p class="team-modal__text">Developer</p>
          </div>

          <ul class="social-networks list">
            <li class="social-networks__item">
              <a
                href="https://github.com/frontdc"
                class="social-networks__link"
                target="_blank"
              >
                <svg
                  aria-label="github icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-github"
                  ></use>
                </svg>
              </a>
            </li>

            <li class="social-networks__item">
              <a href="" class="social-networks__link" target="_blank">
                <svg
                  aria-label="linkedin icon"
                  class="social-networks__icon"
                  width="20"
                  height="20"
                >
                  <use
                    class="social-networks__icon_color"
                    href="./images/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <!-- Dmitriy Tsyhanenko -->
      </ul>
    </div>
  </div>
</div>
