<main class="gallery__page">
  <section class="gallery">
    <div class="container">
      <!-- <div class="sad__eror-wrap header__error_hidden">
        <img class="sad__smile" src="./images/sad-smile 1@2x.png" alt="sad smile" />
   width="400" 
      height="400" -->
      <!-- </div> -->
      <div class="js-guard">
        <a href="#" class="button-top" style="display: none" onclick="return">
          <svg class="button-top_icon">
            <use href="./images/sprite.svg#circle-up"></use>
          </svg>
        </a>
      </div>

      <ul class="gallery__list js-movies-list"></ul>
      <div class="loader">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
          <path
            d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"
            class="spinner" />
        </svg>
      </div>
      <!-- <div><button class="button-top visually-hidden">⇑</button></div> -->
    </div>

    <!-- <div class="gallery__pagination"></div> -->
    <!-- <a href="#" onclick="return"> -->

    <!-- </a> -->
  </section>
  <!-- <include src="./gallery-main.html"></include> -->
  <include src="./partials/pagination.html"></include>
</main>