<div class="movie-modal__backdrop is-hidden" data-movie-modal>
  <div class="movie_modal">
    <button class="movie-modal__close-btn" data-movie-modal-close>
      <svg lang="en" aria-label="close icon" class="movie-modal__icon" width="20" height="20">
        <use class="movie-modal__icon_color" href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="movie_modal_gallery"></div>
    <!-- <li class="modal_btn_list">
      <button class="btn_modal js-watched" data-idmovie="${movies.id}">
        ADD TO WATCHED
      </button>
      <button class="btn_modal js-queue">ADD TO QUEUE</button>
    </li>
    <li>
      <button class="btn_modal btn_trailer">MOVIE TRAILER</button>
    </li> -->
  </div>
</div>