.movie-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  // padding: 93px 15px 94px;
  // overflow-y: scroll;

  overflow-x: hidden;

  background: rgba(0, 0, 0, 0.25);

  transform: scale(1);
  visibility: visible;
  opacity: 1;
  transition: transform var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func),
    opacity var(--transition-dur-and-func);

  &.is-hidden {
    visibility: hidden;
    transform: scale(1.1);
    opacity: 0;
    pointer-events: none;
  }
  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}

.movie_modal {
  position: relative;
  @media screen and (max-width: 767px) {
    max-width: 280px;
    margin: 40 auto;
  }
  // padding: 40px;

  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  background-color: var(--light-color);
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.movie-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 0;

  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.movie-modal__icon {
  stroke: var(--dark-color);
  fill: var(--dark-color);
  transition: fill var(--transition-dur-and-func);
  &:hover,
  &:focus {
    stroke: var(--accent-color);
    fill: var(--accent-color);
  }
}

.modal_img {
  max-width: 240px;
  width: 100%;
  margin-bottom: 20px;
}

.movie_modal_title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;

  @media screen and (max-width: 229px) {
    font-size: 16px;
    text-align: center;
  }
  
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.modal_table {
  width: 100%;
  margin-bottom: 20px;
  @media screen and (max-width: 229px) {
    font-size: 10px;
    text-align: center;
  }
}

.table-header {
  color: #8c8c8c;
  padding-top: 4px;
  padding-bottom: 4px;
}

.table-votes {
  background-color: #ff6b01;
  color: #fff;
  padding: 1px 10px;
  border-radius: 5px;
}

.about-container {
  margin-bottom: 26px;
}

.about-header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.about-text {
  line-height: 20px;
}

.modal_btn_list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
  @media screen and (max-width: 229px) {
    display: flex;
    flex-direction: column;
    // font-size: 10px;
    text-align: center;
  }
}

.btn_modal {
  width: 110px;
  height: 44px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #000000;
  cursor: pointer;
  transition: 250ms;
  &:hover,
  &:focus {
    // filter: drop-shadow(0px 4px 4px rgba(255, 107, 1, 0.6));
    border-color: var(--accent-color);
    // border: 3px;
    // font-weight:600
    // color: #FF6B01;
  }
}
.current {
  background-color: var(--accent-color);
  color: #fff;
}

.btn_trailer {
  width: 100%;
}

.movie_trailer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.btn_modal__back {
  position: absolute;
  top: 15px;
  right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  width: 70px;
  height: 30px;

  border-radius: 5px;
  border: 1px solid var(--dark-color);
  background-color: var(--light-color);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;

  color: var(--dark-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn_modal__back:hover,
.btn_modal__back:focus {
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  border-color: var(--accent-color);
}

.error__trailer {
  color: #000000;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .movie_modal {
    padding: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 704px;
    padding: 40px 36px;
  }

  .movie_modal_gallery {
    display: flex;
    flex-direction: row;
    gap: 68px;
  }

  .modal_img {
    max-width: 264px;
    object-fit: cover;
    margin-bottom: 0;
  }

  .about-text {
    width: 265px;
  }

  .modal_btn_list {
    gap: 15px;
  }

  .btn_modal {
    width: 125px;
  }

  .btn_trailer {
    width: 264px;
  }

  .btn_modal__back {
    top: 7px;
    right: 20px;
    width: 83px;
    height: 30px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .movie_modal {
    max-width: 806px;
    padding: 40px 12px;
  }

  .movie_modal_gallery {
    gap: 16px;
  }

  .modal_img {
    max-width: 370px;
  }

  .about-text {
    width: 391px;
  }

  .btn_modal {
    width: 188px;
  }

  .btn_trailer {
    width: 391px;
  }

  .btn_modal__back {
    right: 12px;
    font-size: 12px;
    }
}

.trailer__clear {
  width: 700px;
  height: 500px;
}
