.team-modal {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 40px;

  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  text-align: center;

  @media screen and (min-width: 320px) {
    max-width: 300px;
    min-height: 400px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    max-width: 100%;
    min-height: auto;
  }
}

.team-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.team-modal__icon {
  stroke: var(--dark-color);
  fill: var(--dark-color);
  transition: fill var(--transition-dur-and-func);
  &:hover,
  &:focus {
    stroke: var(--accent-color);
    fill: var(--accent-color);
  }
}

.team-modal__item {
  background-color: aqua;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 240px;
}

.team-modal__title {
  text-align: center;
  margin-bottom: 30px;
}
