.gallery__list,
.library__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 32px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    column-gap: 16px;
    row-gap: 32px;
    // padding-top: 60px;
    // padding-bottom: 60px;
  }
}

.movie__item {
  width: 280px;

  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.02);
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}
